$border-radius: .5rem
$color-text: #333
$color-muted: #ddd

.v-pagination
  display: flex
  justify-content: flex-start
  box-sizing: border-box
  &--right
    justify-content: flex-end
  &--center
    justify-content: center
  &#{&}--disabled
    a,
    select
      color: $color-muted !important
    .v-pagination__item a
      cursor: default !important
      &:hover
        background-color: transparent
  &#{&}--disabled#{&}--border ul
    background-color: #fafafa
  &#{&}--circle
    .v-pagination__item
      a
        border-radius: 50rem
        border: 1px solid transparent
        &:hover
          border: 1px solid #f7f7f7
      &.disabled a:hover
        border: 1px solid transparent
      &.active a
        border: 1px solid #ddd !important
        background-color: transparent !important
        box-shadow: 0 1px 3px rgb(0,0,0,.1)
  ul
    margin: 0
    padding: 0
    display: flex
    li
      list-style: none
      display: flex
      a
        padding: .3rem .6rem
        text-decoration: none
        line-height: 1.3
        font-size: 14px
        margin: 0
        outline: 0
        color: $color-text
        border-radius: $border-radius
        display: inline-flex
        align-items: center
        cursor: default
        transition: all .3s
      &.v-pagination__list,
      &.v-pagination__info
        a
          color: #888
      &.active,
      &.disabled
        a
          cursor: default !important
      &.v-pagination__item a:hover
        background-color: #f7f7f7
        cursor: pointer
      &.active a
        background-color: #eee !important
        color: #aaa
      &.disabled a
        color: $color-muted !important
        &:hover
          background-color: transparent
      select
        width: auto !important
        font-size: 12px
        padding: 0
        outline: 0
        margin: 0 0 0 5px
        border: 1px solid #ccc
        color: $color-text
        border-radius: .3rem

  &#{&}--border
    ul
      box-shadow: 0 1px 2px rgba(0, 0, 0, .05)
      border-radius: $border-radius
      li
        a
          border: 1px solid #DEE2E6
          border-left: 0
          border-radius: 0
        &:first-child > a
          border-bottom-left-radius: $border-radius
          border-top-left-radius: $border-radius
          border-left: 1px solid #DEE2E6
        &:last-child > a
          border-top-right-radius: $border-radius
          border-bottom-right-radius: $border-radius
        &.active a
          color: #aaa
          background-color: #eee
